ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 20px;
}

li a {
  text-decoration: none;
  color: black;
}

section {
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
}

#name {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}

nav {
  font-size: 18px;
}

